@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  background: #1f2937;
  color: #fff;
  height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  max-width: 1050px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 0.7em;
}

.header-logo,
.hero-right h2 {
  color: #f9faf8;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links ul {
  display: flex;
  flex-direction: row;
}

.header-links ul li {
  padding-left: 20px;
}

.hero {
  max-width: 1050px;
  display: flex;
  padding: 115px 0px 115px 0px;
  gap: 40px;
}

.hero-right h2 {
  font-size: 3em;
  font-weight: bolder;
}

.hero-right button {
  background: #3882f6;
  color: #fff;
  border: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 130px;
}

.hero-right p,
.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.img-placeholder {
  height: 237px;
  width: 522px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  background: #6d747d;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  font-size: 2em;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 1em;
}

.content ul {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.content ul li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.information-area {
  height: 498px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  height: 160px;
  width: 160px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.description {
  color: #616a77;
  font-size: 1.1em;
  padding-top: 6px;
}

.quote-section {
  display: flex;
  justify-content: center;
  height: 429px;
  background: #e5e7eb;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 825px;
}

.quote {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
}

.author {
  font-weight: bold;
  align-self: flex-end;
  font-size: 1.7em;
}

.quote,
.author {
  color: #1f2937;
}

.call-area {
  background: #fff;
  display: flex;
  justify-content: center;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-container {
  background-color: #3882f6;
  color: #fff;
  border-radius: 10px;
  height: 150px;
  width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.call-container button {
  width: 126px;
  height: 33px;
  border-radius: 10px;
  color: #fff;
  background: #3882f6;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 1.1em;
}

.call-title {
  font-weight: bold;
  font-size: larger;
}

.call-paragraph {
  font-weight: lighter;
}

.footer-container {
  background: #1f2937;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
